@use "../base/base"as b;
@use "../base/reset"as r;
@use "../mixin/animation"as animation;
@use "../mixin/breakpoint"as break;
@use "../mixin/btn"as btn;
@use "../mixin/font"as f;
@use "../module/gnav"as gnav;
@use "../module/footer"as footer;
@use "../module/header"as header;
@use "../setting/function"as function;
@use "../module/Dark"as Dark;

.Portfolio {
    width: 100%;
    height: 550px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &__HeaddingText {
        font-size: 15rem;
        line-height: 80%;
        font-family: f.$engfontfamily;
        vertical-align: text-top;
        text-shadow: 0 15px 5px #a1a1a1, 0 -2px 1px rgb(73, 0, 0);

        @media (prefers-color-scheme: dark) {
            color: rgb(194, 194, 194);
            text-shadow: 0 0px 0px, 0 0px 0px;
        }
    }

    &__MyName {
        margin-top: 10px;
        font-size: 2.5rem;
        line-height: 80%;
        font-family: f.$engfontfamily;
        vertical-align: text-top;
    }
}

.Selfintroduction {
    &__HeaddingText {
        margin-top: 10px;
        font-size: 5rem;
        line-height: 80%;
        opacity: 0;
        font-family: f.$engfontfamily;
        text-align: center;
        vertical-align: text-top;
    }

    &__Profileconteiner {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    &__Myinfo {
        width: 50%;
        height: 50%;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(151, 151, 151);
        opacity: 0;

        @media (prefers-color-scheme: dark) {
            background-color: rgb(24, 24, 24);
            color: rgb(194, 194, 194);
            box-shadow: 0px 0px 50px rgb(151, 151, 151);
        }
    }

    &__Myname {
        margin-top: 5px;
        font-size: 2.5rem;
        line-height: 80%;
        margin: 10px 0;
        text-align: center;
        font-weight: 900;
        vertical-align: text-top;
    }

    &__FirstBox {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }

    &__Picture {
        width: 40%;
        height: 40%;
        margin: 20px;
    }

    &__Detailedinformation {
        font-family: f.$jafontfamily;
        font-size: f.$font-size-kilo;
        vertical-align: text-top;
    }

    #Newline {
        display: block;
    }

    #Setradious25 {
        border-radius: 25px;
    }

    #Changefonteng {
        font-family: f.$engfontfamily;
    }

    #Changefontjp {
        font-family: f.$jafontfamily;
        font-size: 2.2rem;
    }
}

.Skillintroduction {
    width: 30%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(151, 151, 151);
    margin: 0 20px;
    background-color: white;
    text-align: center;
    opacity: 0;

    @media (prefers-color-scheme: dark) {
        background-color: rgb(189, 189, 189);
        color: rgb(56, 56, 56);
        box-shadow: 0px 0px 50px rgb(151, 151, 151);
        border: 1px solid rgb(24, 24, 24);
    }

    &__Headdingtext {
        margin-top: 5px;
        font-size: 2.5rem;
        line-height: 80%;
        margin: 10px 0;
        padding-bottom: 25px;
        text-align: center;
        font-weight: 900;
        vertical-align: text-top;
    }

    &__Secondheaddingtext {
        font-family: f.$jafontfamily;
        font-size: 2.2rem;
        margin-top: 5px;
        font-size: 2.5rem;
        line-height: 80%;
        margin: 10px 5px;
        text-align: center;
        font-weight: 900;
        vertical-align: text-top;
    }

    &__App {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 30px 20px;
    }
}

.Workintroduction {
    &__Headdingtext {
        margin-top: 10px;
        font-size: 5rem;
        line-height: 80%;
        opacity: 0;
        font-family: f.$engfontfamily;
        text-align: center;
        vertical-align: text-top;
    }

    &__SecondHeaddingtext {
        margin-top: 50px;
        font-size: 5rem;
        line-height: 80%;
        font-family: f.$engfontfamily;
        text-align: center;
        vertical-align: text-top;
    }

    &__Lists {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px 50px;
    }

    &__List {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 550px;
    }

    &__Title {
        margin: 50px 0;
        font-size: f.$font-size-mega;
        line-height: 80%;
        font-family: f.$engfontfamily;
        text-align: center;
        vertical-align: text-top;
    }

    &__ImageConteiner {
        opacity: 0;
    }
}